@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --color-primary: #b55b5b;
  --color-success: #00bf8e;
  --color-warning: #f7c94b;
  --color-danger: #e9ceca;
  --color-danger-variant: rgba(247, 88, 66, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.7);
  --color-black: #000;
  --color-bg: #1f2641;
  --color-bg1: #9a2c00;
  --color-bg2: #606060;

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all 400ms ease;
}

body {
  font-family: "Montserrat", sans-serif;

  color: var(--color-white);
  background: var(--color-bg2);
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}
.main-container {
  display: flex;
}

section {
  padding: 6rem 0;
}

section h2 {
  text-align: center;
  margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

h1 {
  font-size: 2.1rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}

a {
  color: var(--color-white);
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.btn {
  display: inline-block;
  background: var(--color-white);
  color: var(--color-black);
  padding: 1rem 2rem;
  border: 1px solid transparent;
  font-weight: 500;
  transition: var(--transition);
}

.btn:hover {
  background: transparent;
  color: var(--color-white);
  border-color: var(--color-white);
}

.btn-primary {
  background: var(--color-danger);
  color: var(--color-white);
}

/* =================== NAVBAR ===================== */
nav {
  background: transparent;
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 1;
}

/* change navbar styles on scroll using javascript */
.window-scroll {
  background: var(--color-primary);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.nav__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button {
  display: none;
}
.nav__container-quick {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_menu-quick {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.nav__menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav__menu a {
  font-size: 0.7rem;
  transition: var(--transition);
}

.nav__menu a:hover {
  color: var(--color-success);
}

/* =================== HEADER ===================== */
header {
  position: relative;

  height: 70vh;
  margin-bottom: 15rem;
}

.header__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
  height: max-content;
}

.header__left p {
  margin: 1rem 0 2.4rem;
}
.headline {
  background: var(--color-bg1);
  max-height: 200px;
  margin-bottom: 25px;
}

/* =================== CATEGORIES ===================== */
.categories {
  background: var(--color-bg1);
  height: 50rem;
  margin-top: 10rem;
  cursor: pointer;
}

.categories h1 {
  line-height: 1;
  margin-bottom: 3rem;
}

.categories__container {
  display: grid;
  grid-template-columns: 40% 60%;
}

.categories__left {
  margin-right: 4rem;
}

.categories__left p {
  margin: 1rem 0 3rem;
}

.categories__right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}

.category {
  background: var(--color-bg2);
  padding: 2rem;
  border-radius: 2rem;
  transition: var(--transition);
}
.headline {
  cursor: pointer;
  height: 30vh;
  padding: 2rem;
  border-radius: 2rem;
  transition: var(--transition);
}

.category:hover {
  box-shadow: 0 3rem 3rem rgba(118, 115, 115, 0.3);
  z-index: 1;
}

.category:nth-child(2) .category__icon {
  background: var(--color-danger);
}

.category:nth-child(3) .category__icon {
  background: var(--color-success);
}

.category:nth-child(4) .category__icon {
  background: var(--color-warning);
}

.category:nth-child(5) .category__icon {
  background: var(--color-success);
}

.category__icon {
  background: var(--color-primary);
  padding: 0.7rem;
  border-radius: 0.9rem;
}
.headline__icon {
  background: var(--color-primary);
  padding: 0.7rem;
  border-radius: 0.9rem;
}

.category h5 {
  margin: 2rem 0 1rem;
}

.category p {
  font-size: 0.85rem;
}

/* =================== POPULAR COURSES ===================== */
.courses {
  margin-top: 10rem;
}

.courses__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.course {
  background: var(--color-bg1);
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}

.course:hover {
  background: transparent;
  border-color: var(--color-primary);
}

.course__info {
  padding: 2rem;
}

.course__info p {
  margin: 1.2rem 0 2rem;
  font-size: 0.9rem;
}

/* =================== FAQs ===================== */
.faqs {
  background: var(--color-bg1);
  box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
  height: 30vh;
}

.faqs__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.faq {
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  height: fit-content;
  background: var(--color-primary);
  cursor: pointer;
}

.faq h4 {
  font-size: 1rem;
  line-height: 2.2;
}

.faq__icon {
  align-self: flex-start;
  font-size: 1.2rem;
}

.faq p {
  margin-top: 0.8rem;
  display: none;
}

.faq.open p {
  display: block;
}

/* =================== TESTIMONIALS ===================== */
.testimonials__container {
  overflow-x: hidden;
  position: relative;
  margin-bottom: 5rem;
}

.testimonial {
  padding-top: 2rem;
}

.avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 1rem;
  border: 1rem solid var(--color-bg1);
}

.testimonial__info {
  text-align: center;
}

.testimonial__body {
  background: var(--color-primary);
  padding: 2rem;
  margin-top: 3rem;
  position: relative;
}

.testimonial__body::before {
  content: "";
  display: block;
  background: linear-gradient(
    135deg,
    transparent,
    var(--color-primary),
    var(--color-primary),
    var(--color-primary)
  );
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 50%;
  top: -1.5rem;
  transform: rotate(45deg);
}

/* =================== FOOTER ===================== */
footer {
  background: var(--color-bg1);
  padding-top: 5rem;
  font-size: 0.9rem;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}

.footer__container > div h4 {
  margin-bottom: 1.2rem;
}

.footer__1 p {
  margin: 0 0 2rem;
}

footer ul li {
  margin-bottom: 0.7rem;
}

footer ul li a:hover {
  text-decoration: underline;
}

.footer__socials {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.footer__copyright {
  text-align: center;
  margin-top: 4rem;
  padding: 1.2rem 0;
  border-top: 1px solid var(--color-bg2);
}

/* ===================== MEDIA QUERIES (TABLETS) ==================== */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  /* ====================== NAVBAR ===================== */
  nav button {
    display: inline-block;
    background: transparent;
    font-size: 1.8rem;
    color: var(--color-white);
    cursor: pointer;
  }

  nav button#close-menu-btn {
    display: none;
  }

  .nav__menu {
    position: fixed;
    top: 5rem;
    right: 5%;
    height: fit-content;
    width: 18rem;
    flex-direction: column;
    gap: 0;
    display: none;
  }

  .nav__menu li {
    width: 100%;
    height: 5.8rem;
    animation: animateNavItems 400ms linear forwards;
    transform-origin: top right;
    opacity: 0;
  }

  .nav__menu li:nth-child(2) {
    animation-delay: 200ms;
  }

  .nav__menu li:nth-child(3) {
    animation-delay: 400ms;
  }

  .nav__menu li:nth-child(4) {
    animation-delay: 600ms;
  }

  @keyframes animateNavItems {
    0% {
      transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
    }

    100% {
      transform: rotateZ(0) rotateX(0) scale(1);
      opacity: 1;
    }
  }

  .nav__menu li a {
    background: var(--color-primary);
    box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }

  .nav__menu li a:hover {
    background: var(--color-bg2);
    color: var(--color-white);
  }

  /* ====================== HEADER ===================== */
  header {
    height: 52vh;
    margin-bottom: 4rem;
  }

  .header__container {
    gap: 0;
    padding-bottom: 3rem;
  }

  /* ====================== CATEGORIES ===================== */
  .categories {
    height: auto;
  }

  .categories__container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .categories__left {
    margin-right: 0;
  }

  /* ====================== POPULAR COURSES ===================== */
  .courses {
    margin-top: 0;
  }

  .courses__container {
    grid-template-columns: 1fr 1fr;
  }

  /* ====================== FAQs ===================== */
  .faqs__container {
    grid-template-columns: 1fr;
  }

  .faq {
    padding: 1.5rem;
  }

  /* ====================== FOOTER ===================== */
  .footer__container {
    grid-template-columns: 1fr 1fr;
  }
}

/* ======================== MEDIA QUERIES (PHONES) ======================= */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  /* ====================== NAVBAR ===================== */
  .nav__menu {
    right: 3%;
  }

  /* ====================== HEADER ===================== */
  header {
    height: 100vh;
  }

  .header__container {
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 0;
  }

  .header__left p {
    margin-bottom: 1.3rem;
  }

  /* ====================== CATEGORIES ===================== */
  .categories__right {
    grid-template-columns: 1fr 1fr;
    gap: 0.7rem;
  }

  .category {
    padding: 1rem;
    border-radius: 1rem;
  }

  .category__icon {
    margin-top: 4px;
    display: inline-block;
  }

  /* ====================== POPULAR COURSES ===================== */
  .courses__container {
    grid-template-columns: 1fr;
  }

  /* ====================== TESTIMONIALS ===================== */
  .testimonial__body {
    padding: 1.2rem;
  }

  /* ====================== FOOTER ===================== */
}

.headline-side-info {
  background: var(--color-success);
  height: 5rem;
  margin-top: 20px;
  border-radius: 10px;
  justify-content: center;
  width: 20rem;
}
.main-content,
.faqs {
  margin-left: 80px;
}
/* SIDEBAR */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 275px;
  background: #11101d;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.close {
  width: 78px;
}
.sidebar .logo-details {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i {
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name {
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links {
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links {
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}
.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover {
  background: #1d1b31;
}
.sidebar .nav-links li .iocn-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link {
  display: block;
}
.sidebar .nav-links li i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow {
  display: none;
}
.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 10px;
}
.sidebar .nav-links li a .link_name {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}
.sidebar .nav-links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  padding: 7px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
  border-bottom: 1px solid #11101d;
}
.sidebar .nav-links li .sub-menu a:hover {
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name {
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name {
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details {
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details {
  background: none;
}
.sidebar.close .profile-details {
  width: 78px;
}
.sidebar .profile-details .profile-content {
  display: flex;
  align-items: center;
}
.sidebar .profile-details img {
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img {
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
  display: none;
}
.sidebar .profile-details .job {
  font-size: 12px;
}
.home-section {
  position: relative;
  left: 260px;
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section {
  left: 78px;
  width: calc(100% - 78px);
}
.home-section .home-content {
  height: 60px;
  display: flex;
  align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text {
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content .bx-menu {
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text {
  font-size: 26px;
  font-weight: 600;
}
.toggle-menu {
  bottom: 0;
  position: fixed;
}
@media (max-width: 400px) {
  .sidebar.close .nav-links li .sub-menu {
    display: none;
  }
  .sidebar {
    width: 78px;
  }
  .sidebar.close {
    width: 0;
  }
  .home-section {
    left: 78px;
    width: calc(100% - 78px);
    z-index: 100;
  }
  .sidebar.close ~ .home-section {
    width: 100%;
    left: 0;
  }
}
/* Gallery Section */
.gallery {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 190px;
}
.gallery-icons {
  display: flex;
  align-items: center !important;
  text-align: center;
  justify-content: center !important;
  margin-bottom: 25px;
  margin-right: 150px;
}
.gallery-icon {
  margin: 0 5px;
}
.gallery-icon i {
  font-size: 52px;
  border: 1px solid #404040;
  border-radius: 5px;
}
.gallery-icon a {
  display: block;
  font-size: 14px;
}
.gallery-imgs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  width: max-content;
}
.gallery-imgs p {
  background-color: #1f2641;
  padding: 5px 10px;
  width: 160px;
  border-radius: 5px;
  text-align: center;
}
.gallery-imgs div {
  width: max-content;
  padding: 75px;
  border-radius: 5px;
  background: #355c7d;
  background: -webkit-linear-gradient(to right, #c06c84, #6c5b7b, #355c7d);
  background: linear-gradient(to right, #c06c84, #6c5b7b, #355c7d);
}
.d-flex {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: -300px;
  margin-top: 100px;
}
.header__left {
  height: 100px;
}
.header__container {
  margin-top: -100px !important;
  display: flex;
  flex-direction: column;
}
.second-headline {
  min-height: 250px !important;
}
.courses {
  margin-top: 300px;
}
#menu {
  display: none;
}
@media (max-width: 600px) {
  .gallery {
    margin-right: 25px;
  }
  .gallery-icons {
    margin-right: 50px;
  }
  .gallery-icon i {
    font-size: 32px;
  }
  .gallery-icon a {
    font-size: 11px;
  }
  .gallery-imgs div {
    padding: 50px 25px;
  }
  .gallery-imgs p {
    font-size: 11px;
    width: 125px;
    padding: 5px;
  }
  .d-flex {
    flex-direction: column;
  }
  .header__left {
    margin-bottom: 50px;
  }
  .header__container {
    margin-bottom: 50px;
  }
  .courses__container {
    margin-top: 300px;
  }
  .header-right .headline {
    max-height: 240px;
  }
  .courses {
    margin-top: 200px;
  }
  .main-content {
    margin-top: -200px;
  }
  .gallery-icons {
    margin-right: 80px;
  }
  #menu {
    display: block;
    font-size: 32px;
    margin-left: 350px;
  }
}
